{% extends "admin/base.html.twig" %}

{% block title %}
<title>Sampana | FJKM Betela Marobiby</title>
{% endblock %}

{% block sidebar %}
    {% include "admin/common/left-sidebar.html.twig" with { active: "sampana", _active: 'lisitra' } %}
{% endblock %}

{% block body %}
<div class="panel panel-bordered">
    <div class="panel-heading">
        <h3 class="panel-title">Lisitry ny sampana</h3>
        <div class="panel-actions">
            <a class="panel-action icon wb-expand" data-toggle="panel-fullscreen" aria-hidden="true"></a>
            <a class="panel-action icon wb-plus" href="{{path('sampana.vaovao')}}"
                aria-hidden="true"></a>
        </div>
    </div>
    <div class="panel-body">
        <table id="sampana-datatable" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Anarana</th>
                    <th>Fanafohizana</th>
                    <th class="" style="width: 11%;">#</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
            <tfoot>
                <tr>
                    <th>ID</th>
                    <th>Anarana</th>
                    <th>Fanafohizana</th>
                    <th style="width: 11%;">#</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    $(document).ready(function () {
        $("#sampana-datatable").DataTable();
        list("sampana.lisitra", "#sampana-datatable", "#")
        del("sampana.fafaina", ".btnDeleteSampana", "#sampana-datatable", '#');
    })
</script>
{% endblock %}