<a href="#" id="{{sampana.id}}" class="btn btn-sm btn-icon btn-pure btn-default on-default edit-row" data-toggle="tooltip"
    data-original-title="Show"><i class="icon wb-calendar" aria-hidden="true"></i></a>
<a href="{{path('sampana.hanavao', {'id': sampana.id})}}" id="{{sampana.id}}" class="btn btn-sm btn-icon btn-pure btn-default on-default edit-row" data-toggle="tooltip"
    data-original-title="Edit"><i class="icon wb-edit" aria-hidden="true"></i></a>
<a id="{{sampana.id}}" class="btnDeleteSampana btn btn-sm btn-icon btn-pure btn-default on-default remove-row" data-toggle="tooltip"
    data-original-title="Remove"><i class="icon wb-trash" aria-hidden="true"></i></a>