<div class="panel panel-bordered">
    <div class="panel-heading">
        <h3 class="panel-title"></h3>
        <div class="panel-actions">
            <a class="panel-action icon wb-plus btnSampana" data-target="#sampanaModal" data-toggle="modal" aria-hidden="true"></a>
        </div>
    </div>
    <div class="panel-body">
        <table id="sampana-datatable" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Anarana</th>
                    <th>Andraikitra</th>
                    <th class="" style="width: 16%;">#</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
            <tfoot>
                <tr>
                    <th>Anarana</th>
                    <th>Andraikitra</th>
                    <th>#</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

