{% extends "admin/base.html.twig" %}

{% block title %}
<title>Kristiana | FJKM Betela Marobiby</title>
{% endblock %}

{% block sidebar %}
    {% include "admin/common/left-sidebar.html.twig" with { active: "kristiana", _active: 'mpandray' } %}
{% endblock %}

{% block body %}
<div class="panel panel-bordered">
    <div class="panel-heading">
        <h3 class="panel-title">Lisitry ny mpandray</h3>
        <div class="panel-actions">
            <a class="panel-action icon wb-expand" data-toggle="panel-fullscreen" aria-hidden="true"></a>
            <a class="panel-action icon wb-plus" href="{{path('kristiana.vaovao', {'page': 'mpandray'})}}"
                aria-hidden="true"></a>
        </div>
    </div>
    <div class="panel-body">
        <table id="mpandray-datatable" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Kaody</th>
                    <th>Anarana</th>
                    <th>Fanampiny</th>
                    <th>Sokajy</th>
                    <th class="" style="width: 11%;">#</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
            <tfoot>
                <tr>
                    <th>Kaody</th>
                    <th>Anarana</th>
                    <th>Fanampiny</th>
                    <th>Sokajy</th>
                    <th style="width: 11%;">#</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    $(document).ready(function () {
        $("#mpandray-datatable").DataTable();
        list("kristiana.lisitra", "#mpandray-datatable", "mpandray")
        del("kristiana.fafaina", ".btnDeleteKristiana", "#mpandray-datatable");
    })
</script>
{% endblock %}